{:paths ["./src" "./out/resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}
        org.clojure/core.async {:mvn/version "1.3.618"}}

 :aliases
 {:Ripley {:extra-deps {Ripley/Ripley {:git/url "https://github.com/Empire-Strikes-Back/Ripley"
                                       :sha "becd2573ab55d42933134d346bc46cdd8fa08c04"}}}

  :Genie {:extra-deps {Genie/Genie {:git/url "https://github.com/Empire-Strikes-Back/Genie"
                                    :sha "fe9200d223e3a5c79e88dfa17bc2697c09dae70e"}}}

  :Zazu {:extra-deps {Zazu/Zazu {:git/url "https://github.com/Empire-Strikes-Back/Zazu"
                                 :sha "063ef7649c01284be8f5a1e9814d5bf83025ad76"}}}

  :Moana {:extra-deps {thheller/shadow-cljs {:mvn/version "2.17.5"}
                       nrepl/nrepl {:mvn/version "0.8.3"}
                       cider/cider-nrepl {:mvn/version "0.25.5"}
                       cider/piggieback {:mvn/version "0.5.2"}}}

  :main {Pawny/Pawny {:git/url "https://github.com/clojure/test.check"
                      :sha "b6a318af92e836f1f20960f38a5944168b88d60d"}
         Batty/Batty {:git/url "https://github.com/borkdude/sci"
                      :sha "05f2fe44445d9b21cb0b50d6bac455ca5eea90ec"
                      :tag "v0.2.4"}}

  :ui {#_Cusco
       reagent/reagent {:mvn/version "1.0.0-rc1" :exclusions [cljsjs/react cljsjs/react-dom]}
       #_Yzma
       metosin/reitit {:mvn/version "0.5.12"}
       metosin/reitit-spec {:mvn/version "0.5.12"}
       metosin/reitit-frontend {:mvn/version "0.5.12"}}}}